{% extends 'base.html.twig' %}

{% block lateral %}
    {{ include('backLateral.html.twig') }}
{% endblock %}

{% block body %}
<h4>Modification de l'article: {{ article.title }}</h4>

    {{ include('formTinyMCE.html.twig') }}


    <div class="col-sm-12">
        <a href="{{ path('index_back') }}" class="btn btn-info pull-right">
            <i class="glyphicon glyphicon-eye-open"></i>
            Retour à la liste des articles
        </a>
    </div>


{% endblock %}
