/*Laterals*/
nav#menu{
    background-color: #485F7F;
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-navbar-collapse>ul.nav.nav-pills.nav-stacked>li>a{
    color: white;
    text-shadow: 1px 1px 1px #242F40;
    font-size: medium;
}
#menu-navbar-collapse>ul.nav.nav-pills.nav-stacked>li>a>p.date_chapter{
    font-size: small;
    color: #242F40;
    text-shadow: none;
}
span.badge{
    background-color: #90BDFF;
}
div#menu-navbar-collapse.collapse.navbar-collapse, div#menu-navbar-collapse.collapse.navbar-collapse>ul>li>a{
    padding-right: 0;
    padding-left: 5px;
}
nav#menu.navbar.navbar-default{
    padding-left: 5px;
}
#menu-navbar-collapse>ul.nav.nav-pills.nav-stacked>li>a:hover{
    background-color: #82AAE5;
}