{% extends 'base.html.twig' %}

{% block lateral %}
    {{ include('frontLateral.html.twig') }}
{% endblock %}

{% block body %}

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in leo non metus mollis rutrum. Phasellus non
        enim maximus, pharetra dolor accumsan, venenatis ex. Donec at molestie mi. Curabitur feugiat libero euismod
        sagittis tristique. Quisque volutpat, quam in euismod suscipit, urna massa rhoncus ipsum, at pellentesque urna
        mi id felis. Donec vitae pharetra libero, quis faucibus sem. Nam finibus eu purus vitae fringilla. Vestibulum
        erat turpis, vulputate a quam quis, condimentum scelerisque sapien. In iaculis id velit id ullamcorper. Morbi
        feugiat placerat ex nec pretium. Nam ornare magna in tellus interdum eleifend. Aenean dignissim felis vitae sem
        luctus, eu ullamcorper velit rhoncus. Pellentesque ut lacus lorem. Proin nec sodales ante. Etiam suscipit urna
            sit amet nulla aliquet consequat. In lacinia mi a lorem rhoncus, sit amet placerat justo porttitor.</p>

        <p>Curabitur turpis nunc, congue at congue non, faucibus non tortor. Nullam et tempus lectus, quis facilisis nunc.
        Aliquam erat volutpat. Aenean arcu felis, consequat non justo a, hendrerit ullamcorper massa. Donec et odio
        consectetur, tempus turpis semper, egestas nisi. Suspendisse dignissim eros ut tellus tempor, nec pharetra nunc
            viverra. Nam interdum euismod rutrum.</p>

        <p>Vivamus blandit fringilla vestibulum. Nam a lobortis dolor. Duis efficitur, nibh non sollicitudin sollicitudin,
        lacus erat fringilla justo, ornare mattis ligula tortor quis turpis. Phasellus commodo luctus tincidunt.
        Suspendisse in magna massa. Suspendisse fermentum, ex at faucibus accumsan, risus lacus fermentum leo, at
        vulputate felis neque placerat velit. Phasellus sit amet mollis lorem, ut sodales mi. Nulla facilisi. Praesent
        eu consectetur odio, quis consectetur sapien. Ut tincidunt tortor sapien, sit amet ultrices arcu scelerisque in.
        Nunc blandit consequat metus. Integer venenatis mi nulla, a rhoncus enim rhoncus non. Cras eu nulla maximus,
            porttitor dolor id, congue dui. Donec a urna nulla.</p>

        <p>Maecenas eleifend pretium molestie. In sit amet dui ultrices, efficitur tortor ac, laoreet nisi. Donec eu enim
        sed nibh porta porta at ac purus. Vestibulum rhoncus tortor et metus placerat faucibus. Sed ipsum nisl, finibus
        non purus quis, scelerisque interdum velit. Sed elementum massa id eleifend luctus. Etiam neque lectus, porta ut
        elit eget, malesuada bibendum mauris. Proin placerat, ligula sed dignissim egestas, sem dolor tincidunt arcu, ut
            pulvinar nulla sapien sit amet ipsum.</p>

        <p>Vivamus molestie aliquet velit eu sodales. Nulla sit amet gravida tortor. Donec pretium nibh lacus, a cursus
        elit venenatis non. Etiam pretium venenatis diam pretium semper. Cras aliquet magna a nisi mollis aliquet. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec malesuada, lacus
        porta pellentesque hendrerit, metus ipsum porta mauris, a mattis magna sem vel diam. Etiam aliquet urna id dolor
        sollicitudin, quis vestibulum risus eleifend. Vestibulum placerat dui nec purus mattis, et hendrerit leo
            dignissim.</p>
    </div>

{% endblock %}