<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="col-md-12"></div>
<p class="col-sm-4">Nom de la personne: </p>
<p class="col-sm-8">{{ contactForm.name }}</p>
<p class="col-sm-4">Email de la personne: </p>
<p class="col-sm-8">{{ contactForm.email }}</p>
<p class="col-sm-4">Message: </p>
<p class="col-sm-8"><i>{{ contactForm.message }}</i></p>

</body>
</html>